
#logo {
    margin: 5px;
    width: 59px;
    height: 59x;
    margin-right: 0;
}

#name {
    font-size: 32pt;
    vertical-align: top;
}

#account {
   padding-top: 5px;
}
#chartContainer1, #chartContainer2{
  margin: auto;
}
#addDeviceForm,#changePasswordForm, #weeklyData, #changeNameForm, #main, #error,#failMessage, #failMessage1,#failMessage2,#failMessage3, #Results {
   display: none;
}
/*
.input-field input {
   color: white;
}*/

.select-dropdown {
  color: white;
}

.select-wrapper .caret {
   fill: white;
} 

.inline-button {
  margin-left: 20px;
}

#icon {
  font-size: 3rem;
}

#optionsIcons1, #optionsIcons2, #optionsIcons3, #optionsIcons4, #optionsIcons5 {
  font-size: 2.5rem;
}
#email:focus, #password:focus, #passwordConfirm:focus, #fullName:focus{
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 black;
}



