
#logo {
    margin: 5px;
    width: 60px;
    height: 60x;
    margin-right: 0;
}

#name {
    font-size: 32pt;
    vertical-align: top;
}

#account {
   padding-top: 5px;
}

#addDeviceForm, #main, #error,#failMessage {
   display: none;
}

.input-field input {
   color: white;
}

.select-dropdown {
  color: white;
}

.select-wrapper .caret {
   fill: white;
} 

.ping {
  margin-left: 20px;
}
  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #000;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }